<!-- User Message -->
<div class="user-message" data-basket-clear-modal>
    <!-- Content -->
    <div class="user-message__content">
        <!-- Icon -->
        <div class="user-message__icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="user-message__icon-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/sprites/sprites.svg#warning"></use>
            </svg>   
        </div>
        <!-- / Icon -->
        <!-- Information -->
        <div class="user-message__info">
            <h3 class="user-message__info-title" user-message__info-title>Please note</h3>
            <p class="user-message__info-text" id="basketChangeWarning" user-info-text >Making changes to the date & time or seat amounts  will mean you need to select your seats again.</p>
            <!-- Buttons -->
            <div class="user-message__btn-container">
                <button class="btn btn--keyline" data-action="accept" aria-describedby="basketChangeWarning" data-deny>Keep my seats</button>
                <button class="btn" data-action="accept" aria-describedby="basketChangeWarning" data-accept>Make Changes</button>
            </div>
            <!-- / Buttons -->
        </div>
        <!-- / Information -->
    </div>
    <!-- / Content -->
</div>
<!-- / User Message -->