<!-- Modal -->
<div class="modal" aria-live="off">

    <!-- Container -->
    <div class="modal__container">
        <!-- Modal Close -->
        {{!-- <button class="modal__close">X</button> --}}
        <!-- / Modal Close -->

        <!-- Modal Content -->
        <div class="modal__content">
            <!-- Added Via JS -->
        </div>
        <!-- / Modal Content -->
    </div>
    <!-- / Container -->

</div>
<!-- / Modal -->