{
    "presets": [
        ["es2015"],
        ["stage-2"]
    ],
    "env": {
        "test": {
            "plugins": ["istanbul"]
        },
        "production": {
            "plugins": ["istanbul"]
        }
    }
}
