<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
<h1>
    Testing admin tool to change language
</h1>
<div class ="jumbotron">
    <div class ="row" style ="box-align: center; background-color:pink">
    <div class="col-sm-8" >
    <select name="language">
  <option value="eng">English</option>
  <option value="swe">Swedish</option>
  <option value="fra">French</option>
  <option value="ger">German</option>
</select>
</div>
</div>
</div>

    </body>
</html>