<!-- Cookie Warning -->
<div class="cookie-warning" data-cookie-warning>
    <!-- Container -->
    <div class="cookie-warning__container">
        <!-- Content -->
        <div class="cookie-warning__content">
            <h4 class="cookie-warning__title"  cookie-warning__title>This website uses cookies</h4>
            <p class="cookie-warning__text" cookie-warning__text>We use cookies to ensure you get the best experience on our website.</p>
            {{!-- <a href="#" class="cookie-warning__link" aria-label="Find out more about cookies.">Learn more</a> --}}
        </div>
        <!-- / Content -->
        <!-- Toggles -->
        <div class="cookie-warning__toggles">
            {{!-- <a href="#" class="cookie-warning__toggles-link">How to turn cookies off</a> --}}
            <button class="btn btn--medium cookie-warning__toggles-button" data-accept aria-label="Accept the use of cookies.">Continue</button>
        </div>
        <!-- / Toggles -->
    </div>
    <!-- / Container -->
</div>
<!-- / Cookie Warning -->