/* Main Styles */
.concessions {
    width: 100%;
    display: block;
    height: auto;
    right: auto;
}

.concessions__container {
    width: 100%;
    height: auto;
    display: block;
    background-color: $white;
    
    padding: 20px 0;
}

.concessions__intro {
    width: 100%;
    height: auto;
    display: block;
}

/* Overview */
.concessions__overview {
    padding: 0 10px;
}

.concessions__title {
    text-align: center;
   
}

.concessions__link {
    cursor: pointer;
    width: 100%;
    height: auto;
    display: block;
}

.concessions__seat,
.concessions__placeholder {
    display: flex;
    margin: 0 0 10px 0;
    width: 100%;
    height: auto;
    flex-flow: row wrap;
    align-items: center;
}

/* Price Band */
.concessions__priceband-list {
    padding: 0;
    margin: 10px 0;
   
    padding: 5px 0;
}

.concessions__priceband-item {
    display: flex;
    margin: 0 0 10px 0;
    width: 100%;
    height: auto;
    flex-flow: row wrap;
    border: $orderSummary;
    border-radius: 2px;
}

.concessions__priceband-price{
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    font-weight: bold;
}


/* Discount */
.concessions__priceband-discounts {
    width: 100%;
}


.concessions__discounts-list {
    list-style-type: none;
    padding-left: 10px;
}

.concessions__discount {
    display: flex;
    margin: 0 0 10px 0;
    width: 100%;
    height: auto;
    flex-flow: row wrap ;
}

.concessions__discount-description {
    font-size: 14px;
    width: 80px;
    margin: 0 5px 0 10px;
    text-overflow: ellipsis;
}



.concessions__quantity-select {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    min-width: 80px;
}

.concessions__discount-quantity-input {
    width: 20px;
    height: 20px;
    margin: 0 0px;
    border-radius: 2px;
    border: $inputBorder;
    text-align: center;
    padding: 0;
}


.concessions__btn {
    width: 15px;
    height: 15px;
    min-width: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    border-radius: 2px;
}

.concessions__discount-times-sign {
    margin-right: 10px;
    margin-left: 10px;
}

.concessions__seat-type {
    width: 20px;
    height: 20px;
    background: $seatGreen;
    border-radius: 100%;
    opacity: 1;
}

.concessions__seat-location {
    font-size: 14px;
    min-width: 50px;
    margin: 0 24px 0 10px;
}

.concessions__seat-information {
    font-size: 14px;
    min-width: 50px;
    margin: 0 24px 0 10px;
    text-overflow: ellipsis;
}

.concessions__seat-number {
    font-size: 14px;
}

.concessions__seat-price {
    margin-left:auto;
    font-weight: bold;
    margin-right: 10px;
}

/* Seats */
.concessions__seat {
    width: 100%;
    height: auto;
}

/* Placeholder */
.concessions__placeholder-icon {
    width: 20px;
    height: 20px;
}

/* Line Break */
.concessions__separator {
    border: none;
    display: block;
    height: 1px;
    width: 100%;
    background-color: $orderSummarySeperator;
}

/**
* Seat Colours & Types
* Adds colored styles to symbolise a seat type.
*/
.concessions__seat-type {
    @each $key, $value in $seatTypes {
        &.seat--#{$key} {
            background-color: $value;
        }
    }
}

#data {
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#data:hover {
    overflow: visible;
    white-space: normal;
    width: auto;
}



/* Media Queries */
@include mq($from: screen1000) {
    .concessions {
        position: relative;
        top: 0;
    }

    .concessions__intro {
        max-width: 400px;
        margin: 0 auto;
    }

    .concessions__container {
        max-width: 400px;
        margin: 0 auto;
    }
}
